<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rpc="http://rpc.simple.com/schema/rpc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	  http://rpc.simple.com/schema/rpc http://rpc.simple.com/schema/rpc/rpc.xsd">

    <!-- 注册中心 -->
    <rpc:server id="consumer" registerType="redis" host="127.0.0.1" port="6379" password="123456"/>

    <rpc:consumer id="helloService" interfaceName="com.simple.rpc.api.HelloService" alias="providerRpc"/>

</beans>